<p class="text-center mt-5 p-3 lead">
    Something went wrong. Our technical team has been informed. The problem will be resolved as soon as possible.

    <br />
    <br />
    <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Turn Back</a>
</p>